* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#topDiv {
    width: 80vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vmin;
}

#counter {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 2.5vmin, 16px);
}

#buttonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

button {
    padding: 1.5vmin 3vmin;
    border-radius: 6px;
    border: none;
    font-size: clamp(10px, 2.5vmin, 16px);
    cursor: pointer;
}

#myCanvas {
    background-color: #1e1e1e;
    border: 1px solid #444;
    margin-bottom: 10px;
    width: 80vmin;
    height: 80vmin;
}